[submodule "src/ChibiRuby.Compiler/mruby"]
	path = src/ChibiRuby.Compiler/mruby
	url = https://github.com/mruby/mruby.git
[submodule "sandbox/ChibiRuby.Benchmark/mruby"]
	path = sandbox/ChibiRuby.Benchmark/mruby
	url = https://github.com/mruby/mruby.git
[submodule "src/ChibiRuby.Compiler/mruby-compiler2"]
	path = src/ChibiRuby.Compiler/mruby-compiler2
	url = git@github.com:hadashiA/mruby-compiler2.git
	branch = master
