¼?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MRubyCS" version="0.108.0" manuallyInstalled="true" />
  <package id="MRubyCS.Compiler" version="0.108.0" manuallyInstalled="true" />
  <package id="MRubyCS.Debugger" version="0.108.0" manuallyInstalled="true" />
  <package id="MRubyCS.Debugger.Dap" version="0.108.0" manuallyInstalled="true" />
  <package id="MRubyCS.Serializer" version="0.107.0" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="9.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="Utf8StringInterpolation" version="1.3.2" manuallyInstalled="true" />
</packages>
